.reset
{
    background-color: #F00;
    border: solid 1px #F00;
}

.reset:hover
{
    background-color: #D00;
    border: solid 1px #D00;
}

body
{
    font-size: 30px;
    background: #650065;
    color: #FF0;
}

ul
{
    list-style-type: none;
}

li
{
    font-size: 50px;
}

a
{
    text-decoration: none;
    color: #F0A;
}